{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow border-0">
            <div class="card-header text-white" style="background-color: #006400;">
                <h4 class="mb-0">{% trans "Set New Password" %}</h4>
            </div>
            <div class="card-body">
                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success" style="background-color: #ffd700; color: #000; border: none;">{% trans "Change My Password" %}</button>
                    </div>
                </form>
                {% else %}
                <div class="alert alert-danger">
                    {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary">{% trans "Request New Link" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}